/* Element Styles */

	html, body {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		font-family: 'Roboto', sans-serif;
	}

	h1 {
		margin: 0px 0px 5px 0px;
		padding: 0px;
		font-size: 24px;
	}

	h2 {
		margin: 0px;
		padding: 0px;
		font-size: 12px;
	}

	h3 {
		margin: 0px 0px 8px 0px;
		padding: 0px;
	}

	h4 {
		margin: 0px 0px 5px 0px;
		padding: 0px;
	}

	a {
		color: #0093CD;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.error {
		color: #ff0000;
	}

/* DIV table styles */

	.table {
		display: table;
	}

	.table.full {
		width: 100%;
	}

	.table.tall {
		min-height: 100%;
	}

	.table .row {
		display: table-row;
	}

	.table .row .cell {
		display: table-cell;
	}

/* Float styles */

	.left {
		position: relative;
		float: left;
	}

	.right {
		position: relative;
		float: right;
	}

	.clear {
		clear: both;
	}

/* Text positioning styles */

	.centered {
		text-align: center;
	}

	.left-aligned {
		text-align: left;
	}

	.right-aligned {
		text-align: right;
	}

	.selectable {
		cursor: pointer;
	}

	.noselect {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Chrome/Safari/Opera */
		-khtml-user-select: none; /* Konqueror */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently
	}